.AccessTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5%;

    th {
        background-color: #f2f2f2;
        color: #333;
        font-weight: bold;
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    tr.failed {
        background-color: #ffcccc;
    }
    tr.failed:nth-child(even) {
        background-color: #ffcccc;
    }
}
