.navigation-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 16px;
    margin-top: 16px;
    display: 'grid';
    gap: '20px';
    justify-content: center;
    align-items: center;
}